


<div class="container" id="mainContainer">
  <div class="row">



    <div class="col-xs-12 col-md-8" id="map"></div>
    <!-- twitter widget to view tweets on Earthquake -->
    <div class="col-xs-6 col-md-4" id="twitterAlerts">
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/earthquake" data-widget-id="777180756267241472">#earthquake Tweets</a>
    </div>




    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8G-6jzXr1QEKXIqprhzSNDrfkA5bBkZo&libraries=drawing,visualization&callback=initialize">
    </script>
    <script src="/js/weightedLocationToHeatmapData.js"></script>



    <footer class="bs-docs-footer" class="clearfix">
      <div class="container">
        
        <div class="row">
          <div class="col-xs-12 col-md-11">
            <p>All Earthquake Data are from  <a href="http://earthquake.usgs.gov/" target="_blank">USGS</a>, Science for a changing world.
            </p>
            <p>Do your part to make the world a better place!</p>
          </div>

          <div class="col-xs-12 col-md-1">
            social media icons
          </div>

        </div>
      </div>
    </footer>


  </div>


  <%- contentFor('topbuttons') %>


  <div class="pull-right" id="projectBox">

    <!-- push and pull -->

    <a href="/captainplanets" class="btn btn-primary">View All Projects</a>
    <a href="/users" class="btn btn-primary">View All Users</a>
    <a href="/captainplanets?filter=true" class="btn btn-primary">View My Project</a>
  </div>
