
html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
  padding: 0
}

#bigContainer {
padding-top:15px;
}

#currentDate{
font-size: 30px;

}
#map {
  height: 888px;
}

#twitterAlerts {
  height: 948px;
}


#currentDate{
  color: black;
}

#siteTitle{
  color: black;
}

#projectBox{
margin-bottom: 6px;
}

/*#loginBox{
  float:left;
}*/

#siteTitle{
  /*float:left;*/
}

#signupIcon {
  margin: 3px;
  padding: 2px;
}

#loginIcon {

  margin: 3px;
  padding: 2px;


}

#helpIcon {
  border-style: solid;
  border-width: 2px;
  margin: 3px;
  padding: 3px;


}





.pull-right {
  float: right !important;
}
