<h1>Edit</h1>

<form action="/captainplanets/<%= captainplanet.id %>" class="edit-form" role="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name of Taco" name="name" value="<%= captainplanet.name %>">
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" class="form-control" id="amount" placeholder="Funding Needed" name="amount" value="<%= captainplanet.amount %>">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" placeholder="Project Description" name="description">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href="/captainplanets">&larr; Back</a>

<%- contentFor('topbuttons') %>
