
html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
  padding: 0
}

#currentDate{
font-size: 30px;

}
#map {
  height: 1048px;
  /*width: 1048px;*/
  /*float: left;*/
}

#twitterAlerts {
  height: 1048px;
  /*width: 200px;*/
  /*float: right;*/
}

#title {
font-size: 34px;
}

#sign-in {
font-size: 20px;
float:right;
}

#login-box {
  font-size: 20px;
  float:right;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    height: 50px;
    background-color: yellow;
    /*background-color: grey;*/
}

li {
    float: left;
}

li a {
    /*display: inline;*/
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #f44336;
}

li a:hover {
    background-color: #111;
}
