

  <% posts.forEach(function(post){ %>
  <div class="">
    <h2>
      <a href="#"><%= post.projectTitle %></a>
    </h2>
    <p class="lead">
      by <a href="#">Start Bootstrap</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
    <p><span class="glyphicon"></span> <%= post.category %></p>
    <hr>
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
    <p><%= post.description %></p>
    <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <a class="btn btn-primary" href="#">Donate Now <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
  </div>
  <% }); %>
