

<!-- <div> -->
  <!-- <div class="col-xs-12 col-md-8" id="mainHeadline"> -->
    <!-- <h2>Welcome, please login to start drawing rescue parameters.</h2> -->
  <!-- </div> -->

  <!-- <div class="col-xs-6 col-md-4" id="loginSection"> -->
    <!-- <a href="/profile">Profile</a>
    <a href="/auth/login">Log in</a>
    <a href="/auth/signup">Get Started</a>
    <a href="/auth/logout">Logout</a> -->
  <!-- </div> -->

<!-- </div> -->
Magnitude 2.5 Earthquake in the past 7 days.
