<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Local CSS Files -->
  <!-- <link href="/css/style.css" rel="stylesheet"> -->
  <link href="/css/mystyle.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet" >
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet" >
  <link href="/fonts/glyphicons-halflings-regular.svg" rel="stylesheet">
  <link href="/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet">
  <script src="/js/weightedLocationToHeatmapData.js"></script>
  <title>Captain-Planet</title>
</head>
<body>

  <!-- <div class="container"> -->

  Captain-Planet<p id="currentDate"></p>

  <div id="displayCurrentUser">

    <% if (!currentUser) {%>
      Hello guest
      <% } else if (currentUser) { %>
        You are logged on as <%- (currentUser.name) %>
        <% } %>

      </div>

      <div id="top-bar">
        <ul>
          <li id="title"><a href="#home">Magnitude 2.5 Earthquake in the past 7 days.</a></li>
          <li id="sign-in"><a href="#signin">Sign up</a></li>
          <li id="login-box"><a href="#login">Login</a></li>

          <a href="/profile">Profile</a>
          <a href="/auth/login">Login</a>
          <a href="/charts">Humanitarian Projects</a>
          <a href="/auth/signup">Sign up</a>
          <a href="/auth/logout">Logout</a>

        </ul>
      </div>

      <%- body %>

      <% include partials/alerts %>

      <div id="mainContainer">
        <div class="col-xs-12 col-md-8" id="map"></div>

        <div class="col-xs-6 col-md-4" id="twitterAlerts">
          <a class="twitter-timeline"  href="https://twitter.com/hashtag/earthquake" data-widget-id="777180756267241472">#earthquake Tweets</a>
        </div>

      </div>

      <!-- </div> -->
<h3>All earthquake data from USGS.</h3>

      <!-- twitter widget to view tweets on Earthquake -->
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <script src="/js/gettingTodayDate.js"></script>
      <!-- Map Render -->
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8G-6jzXr1QEKXIqprhzSNDrfkA5bBkZo&libraries=drawing,visualization&callback=initialize">
      </script>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <!-- requires the Drawing library. Include the libraries=drawing -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
    </html>
